@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center content-container mt-5">
    <h1 class="display-4 mb-5 text-primary">Welcome to ExpensesMVC</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <h4 class="text-secondary">Check out your expenses in each <a class="text-primary" asp-area="" asp-controller="Expenses" asp-action="Index">month</a> or view your <a class="text-primary" asp-area="" asp-controller="YearSummary" asp-action="Index">year summary</a>.</h4>
        
    } else
    {
        <h4 class="text-secondary"><a class="text-primary" asp-area="" asp-controller="Login" asp-action="Login">Sign In</a> into your account or <a class="text-primary" asp-area="" asp-controller="Login" asp-action="Registration">create</a> one.</h4>
        
        
    }

  
</div>
